*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}



.container {
    max-width: 85%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.lists {
    display: flex;
    align-items: center;
}

.lists li {
    padding-left: 2.2em;
}

.lists li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.5px;  
}

.lists li a:hover {
    border-bottom: 2px solid #cf6d17;
    padding-bottom: 0.5em;
}

.btn-one {
    margin-right: 1em;
    background-color: #cf6d17;
    color: #fff;
}

.btn-outline {
    border: 1.5px solid #cf6d17;
    color: #cf6d17;
}

.btn-outline:hover {
    background-color: #cf6d17;
    transition: all ease-out 1s;
    color: #fff;
}

.buttons {
    margin: 2em 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo img {
    width: 28%;
    
}

.burger {
    display: none;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: lighter;
    line-height: 1.2;
    opacity: 1;
}

.header-text {
    margin: 6em 0;
}

.header-text .btn {
    font-size: 1.2rem;
    
    padding: 0.6em 1.5em;
    border-radius: 45px;
   
}

/* Utilities */

.text-center {
    text-align: center;
}

/* Features */

.features {
    padding: 4em 0;
    color: rgb(104, 104, 104);
}

.features-heading,
.work-heading,
.cities-heading,
.testimonial-heading,
.pricing-heading,
.contact-heading {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2.3rem;
    letter-spacing: 1.9px;
    color: rgb(83, 83, 83);
}

.yellowLine {
    width: 15%;
    height: 2px;
    background-color: #ec9b54;
    margin: 1.9em auto 1.6em;
}

.features-para {
    font-size: 1.3rem;
    width: 74%;
    margin: auto;
    text-align: left;
    line-height: 1.4;
}

.row i {
    color: #cf6d17;
    padding: 0.5em 0;
}

.row {
    display: flex;
    padding: 3em 0;
}

.row h2 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.4rem;
    padding-bottom: 0.6em;
    color: rgb(83, 83, 83);
}

.row p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.subscription, .fast, .organic, .order {
    padding: 1em 1.4em;
}

/* Images */

.flex img {
    width: 25%;
    cursor: pointer;
    transform: scale(1);
    transition: 1s ease-out;
}

.flex img:hover {
    transform: scale(1.2);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* work */

.work {
    padding: 4em 5em;
    
}

.flex-two {
    display: flex;
}

.work-img {
    width: 50%;
    text-align: right;
    margin-right: 3em;
}

.work-text {
    width: 50%;
    margin-top: 1em;
}

.work-img img {
    width: 220px;
    height: 450px;
}

.work-line {
    font-size: 1.3rem;
    margin: 1.5em;
    color: rgb(90, 90, 90);
}

.line-point {
    color: #ec9b54;
    border: 2px solid #ec9b54;
    float: left;
    margin-right: 1em;
    padding-top: 6px;
    font-size: 1.8rem;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
}

.btns {
    margin-right: 1em;
    margin-left: 1.9em;
}

a img {
    height: 160px;
    width: 170px;
}

/* Cities */

.cities {
    background-color: rgb(251, 251, 251);
    padding: 5em 0;
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    justify-content: space-around;
}

.col:nth-child(1), .col:nth-child(2),.col:nth-child(3) {
    margin-bottom: 1em;
}

.box img {
    width: 240px;
    height: 150px;
    margin-bottom: 1em;
}

/* .col + .col {
    margin-left: 3em;
} */

.col i {
    color: #d37726;
    margin-right: 1em;
    margin-left: 0.4em;
}

.col h3,
.card-col h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: rgb(83, 83, 83);
    padding-bottom: 0.4em;
}

.col div p {
    display: inline-block;
    margin: 0.2em 0;
    font-size: 1.2rem;
}

/* Testimonial */

.testimonial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)), url('../images/pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 80vh;
    color: #fff;
    
}

.testimonial-heading {
    color: #fff;
}

.testimonial-container {
    padding: 5em 7em;
}

.testimonial-row {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    margin: 2em 0;
}

.grid-text {
    text-align: left;
    font-size: 1.2rem;
}

.testimonial-col + .testimonial-col {
    margin-left: 2em;
}

.testimonial-col i {
    padding-bottom: 0.2em;
}

.testimonial-col p {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    line-height: 1.4;
    margin-left: 0.2em;
}

.grid img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Pricing */

.pricing {
    background-color: rgb(245, 245, 245);
}

.container-1 {
    padding: 5em 0;
    max-width: 80%;
    margin: 0 auto;
}

.hr {
    border-top: 0.1em solid rgb(144, 144, 144);
    border-bottom: none;
}

.grid-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
}

.card-col {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 2px rgb(218, 217, 217), 1px 2px 1px rgb(218, 217, 217);
}

.wrap {
    padding: 1em;
}

.card-col .money {
    font-family: 'Lato', sans-serif;
    color: #ec9b54;
    font-size: 3.2rem;
    font-weight: lighter;
    font-style: italic;
}

.card-col .rate {
    font-size: 1rem;
    color: rgb(107, 107, 107);
    padding: 0.5em 0 0.2em;
}

.pricing-info p {
    display: inline-block;
    color: rgb(107, 107, 107);
    font-size: 1.3rem;
    margin: 0.3em 0;
}

.button {
    text-align: center;
    margin: 1.7em;
}

.pricing-info i {
    color: #ec9b54;
    margin-right: 1em;
    font-size: 0.8rem;
}

.btn-signUp {
    margin: 1em 0;
}

.btn-signUp {
    background-color: #ec8225;
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5em 1.5em;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-signUp:hover,
.send a:hover {
    background-color: #cf6d17;
}

.btn-signUp-outline {
    border: 1.5px solid #ec8225;
    color: #ec8225;
    border-radius: 30px;
    padding: 0.5em 1.5em;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.btn-signUp-outline:hover {
    background-color: #cf6d17;
    color: #fff;
}

/* Contact */

.form {
    width: 60%;
    margin: auto;
}

.flex-form {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.flex-form label {
    color: rgb(105, 105, 105);
    font-size: 1.3rem;
}

.flex-form input[type=text], 
.flex-form input[type=email] {
    padding: 0.9em 17em 0.7em 0.5em;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
}

.flex-form textarea:focus,
.flex-form input[type=text], 
.flex-form input[type=email] {
    outline: none;
}

.flex-form textarea {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    padding: 0.3em 0.4em;
    color: rgb(105, 105, 105);
}

.checkbox {
    width: 32%;
}

#find {
    font-size: 1.3rem;
    padding: 0.3em 11.5em 0.3em 0.2em;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.2rem;
    color: rgb(112, 112, 112);
    vertical-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.2rem;
    color: rgb(112, 112, 112);
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 1.2rem;
    color: rgb(112, 112, 112);
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 1.2rem;
    color: rgb(112, 112, 112);
  }

  .send {
        text-align: center;
        padding-top: 0.8em;
  }

  .send a {
    background-color: #ec8225;
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5em 1.5em;
    border-radius: 30px;
    transition: all 0.3s ease;
  }


/* Footer */

footer {
    background-color: #333;
    padding: 4em 6em;
    color: #888;
}

footer nav ul {
    display: flex;
}

.footer-link + .footer-link {
    padding-left: 1em;
}

footer nav ul li a {
    color: #888;
    transition: all 1s ease-out;
}

footer nav ul li a:hover {
    color: #fff;
}

footer ul a i {
    color: #888;
    font-size: 1.4rem;
    transition: all 1s ease;
}

footer ul a .twt:hover {
    color: #55acee;
}

footer ul a .fb:hover {
    color: #3b5998
}

footer ul a .retr:hover {
    color: rgb(240, 63, 63);
}

footer ul a .ig:hover {
    color: #f09433;
}

.padding-right {
    padding-right: 1.2em;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer p {
    text-align: center;
    margin-top: 2em;
}


/* Responsive */


@media (max-width: 1800px) {
    
    .checkbox {
        width: 68%;
    }
    .flex-form textarea {
        padding-left: 1.1em;
    }

}

@media (max-width: 1200px) {
    .checkbox {
        width: 100%;
        
    }

    .flex-form {
        flex-direction: column;
    }

    .flex-form  label {
        text-align: left;
        margin-bottom: 0.6em;
    }
}

@media screen and (max-width: 1141px) {
    
   .lists {
        position: fixed;
        background: #cf6d17;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        padding-top: 2em;
        pointer-events: none;
   }
   .lists.open {
        clip-path: circle(750px at 90% -20%);
        -webkit-clip-path: circle(750px at 90% -20%);
        pointer-events: all;
   }
   .lists li {
       padding: 2em 0;
   }
   .lists li a {
       font-size: 1.5rem;
   }
   .navbar {
       padding: 0;
       position: relative;
   }
   .line1, .line2, .line3 {
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 5px;
   }
   .burger {
       display: block;
       position: absolute;
       right: 2%;
       cursor: pointer;
       top: 45%;
       transform: translate(-5%, -50%);
   }
   .logo {
       padding: 1em 0;
   }
}

@media (max-width: 1060px) {
    .grid-col {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
}

@media (max-width: 984px) {
    .googleBtn {
        margin-left: 1.9em;
    }
}

@media (max-width: 921px) {
    .testimonial-row {
        flex-wrap: wrap;
    }
}

@media (max-width:900px) {
   
}

@media (max-width: 700px) {
    .grid-col {
        grid-template-columns: 1fr;
    }
    .row {
        flex-direction: column;
        text-align: center;
    }
   footer nav {
       flex-direction: column;
   }
   ul:nth-child(2) {
       margin-top: 1em;
   }
   .testimonial-col + .testimonial-col {
       margin-left: 0;
   }
   .grid {
       grid-template-columns: 2fr 3fr;
       text-align: right;
   }
   .testimonial-col {
       text-align: center;
   }
}

@media (max-width:500px) {
    .flex-two {
        flex-direction: column;
    }
    .work-text,
    .work-img {
        width: 100%;
        text-align: center;
    }
    .container {
        max-width: 97%;
    }

    .work {
        padding: 4em 1em;
    }

    .testimonial-container {
        padding: 5em 1.4em;
    }

    .testimonial-col:nth-child(1) i {
        text-align: left;
        display: block;
        margin-left: 0.3em;
    }

    .testimonial-col:nth-child(2) i,
    .testimonial-col:nth-child(3) i {
        text-align: left;
        display: block;
        margin-left: -0.2em;
    }

    .container-1 {
        max-width: 90%;
    }

    .form {
        width: 100%;
    }

    footer {
        padding: 4em 1em;
    }
}